:root {
  font-family: system-ui, sans-serif;
  color: #f9fafb;
  background: #111827;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  min-height: 100%;
  width: 100%;
}

html {
  background: #111827;
}

body {
  margin: 0;
}

a {
  color: inherit;
}